# GitHub Configuration
GH_USERNAME=
GH_TOKEN=

# Discord User ID
DISCORD_ID=

# Firebase Firestore Configuration
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Cron Job Secret
CRON_SECRET=
